//Grid system
$ninesixty-columns: 12;
$ninesixty-grid-width: 840px;
$ninesixty-gutter-width: 20px;

$ninesixty-fluid-grid-min-width: 480px;
$ninesixty-fluid-gutter-width: 2%;

//Main variables
$layout-bg-color: #fcfefe;
$site-name-color: #b42924;
$main-text-color: #0e0e0e;
$main-href-color: #b42924;

//Header
$header-height: 84px;
$header-logo-bg-color: #b52d28;
$header-bg-color: #0e0e0e;
$header-fence-border-color: #929292;

//Footer
$footer-bg-color: #0e0e0e;
$footer-text-color: #fff;

//Menu
$menu-color: #fff;
$menu-font-size: 18px;
$menu-tabs-color: #1c1c1c;

//Article
$article-border-color: #1c1c1c;

//Slider
$slider-brd-color: #ccc;
$slider-bg-color: #fff;
$slider-slide-bg-color: #efefef;
$slider-text-bg-color: #474747;
$slider-text-color: #fff;
$slider-button-grad-start: #828282;
$slider-button-grad-end: #a0a0a0;

//Gallery
$gallery-brd-color: #ccc;
$gallery-bg-color: #fff;
$gallery-slide-bg-color: #efefef;

//Notifications
$notification-brd-color: #ccc;
$notification-brd-red-color: #814444;
$notification-brd-black-color: #333;
$notification-brd-gray-color: #808080;
$notification-brd-beige-color: #c3b091;

//List
$list-color-red: #b42924;
$list-color-default: #767676;

//Quotes
$quoute-company-color: #b42924;
$quoute-text-color: #767676;

//Textbox
$textbox-brd-color: #ccc;
$textbox-header-bg-color: #efefef;
$textbox-text-bg-color: #fff;

//Feedback
$feedback-brd-color: #ccc;
$feedback-btn-color: #1c1c1c;

//Media
$small: 840px;

//Fonts
$article-font: Calluna-Regular;
$header-link-font: Georgia;
$logo-font: LaurenScript;
$main-text-font: Garamond;
